In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

np.random.seed(0)

In [ ]:
df = pd.read_csv('insurance.csv')
df.head(5)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [ ]:
df['double bmi'] = df['bmi'] * 2
df

      age     sex     bmi  children smoker     region      charges  double bmi
0      19  female  27.900         0    yes  southwest  16884.92400       55.80
1      18    male  33.770         1     no  southeast   1725.55230       67.54
2      28    male  33.000         3     no  southeast   4449.46200       66.00
3      33    male  22.705         0     no  northwest  21984.47061       45.41
4      32    male  28.880         0     no  northwest   3866.85520       57.76
...   ...     ...     ...       ...    ...        ...          ...         ...
1333   50    male  30.970         3     no  northwest  10600.54830       61.94
1334   18  female  31.920         0     no  northeast   2205.98080       63.84
1335   18  female  36.850         0     no  southeast   1629.83350       73.70
1336   21  female  25.800         0     no  southwest   2007.94500       51.60
1337   61  female  29.070         0    yes  northwest  29141.36030       58.14

[1338 rows x 8 columns]

In [ ]:
df['debt'] = 0
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,0
2,28,male,33.000,3,no,southeast,4449.46200,66.00,0
3,33,male,22.705,0,no,northwest,21984.47061,45.41,0
4,32,male,28.880,0,no,northwest,3866.85520,57.76,0
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,0
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,0
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,0
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,0
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,0

In [ ]:
df['debt']= np.arange(len(df))
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,19,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,18,male,33.770,1,no,southeast,1725.55230,67.54,1
2,28,male,33.000,3,no,southeast,4449.46200,66.00,2
3,33,male,22.705,0,no,northwest,21984.47061,45.41,3
4,32,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,18,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,18,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,21,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,61,female,29.070,0,yes,northwest,29141.36030,58.14,1337

In [ ]:
df.iloc[1]

age                  18
sex                male
bmi               33.77
children              1
smoker               no
region        southeast
charges       1725.5523
double bmi        67.54
debt                  1
Name: 1, dtype: object

In [ ]:
df.drop(['double bmi'], axis = 1)

      age     sex     bmi  children smoker     region      charges  debt
0      19  female  27.900         0    yes  southwest  16884.92400     0
1      18    male  33.770         1     no  southeast   1725.55230     1
2      28    male  33.000         3     no  southeast   4449.46200     2
3      33    male  22.705         0     no  northwest  21984.47061     3
4      32    male  28.880         0     no  northwest   3866.85520     4
...   ...     ...     ...       ...    ...        ...          ...   ...
1333   50    male  30.970         3     no  northwest  10600.54830  1333
1334   18  female  31.920         0     no  northeast   2205.98080  1334
1335   18  female  36.850         0     no  southeast   1629.83350  1335
1336   21  female  25.800         0     no  southwest   2007.94500  1336
1337   61  female  29.070         0    yes  northwest  29141.36030  1337

[1338 rows x 8 columns]

In [ ]:
df[['age', 'sex']]

      age     sex
0      19  female
1      18    male
2      28    male
3      33    male
4      32    male
...   ...     ...
1333   50    male
1334   18  female
1335   18  female
1336   21  female
1337   61  female

[1338 rows x 2 columns]

In [ ]:
df['age'] = df['age'] + 1
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0
1,19,male,33.770,1,no,southeast,1725.55230,67.54,1
2,29,male,33.000,3,no,southeast,4449.46200,66.00,2
3,34,male,22.705,0,no,northwest,21984.47061,45.41,3
4,33,male,28.880,0,no,northwest,3866.85520,57.76,4
...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,1333
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,1334
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,1335
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,1336
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,1337

In [ ]:
def dotData(data):
    return format(data,".2f")

In [ ]:
df['charges'].apply(dotData)

0       16884.92
1        1725.55
2        4449.46
3       21984.47
4        3866.86
          ...
1333    10600.55
1334     2205.98
1335     1629.83
1336     2007.94
1337    29141.36
Name: charges, Length: 1338, dtype: object

In [ ]:
df.sort_index(axis = 1)

,age,bmi,charges,children,debt,double bmi,region,sex,smoker
0,20,27.900,16884.92400,0,0,55.80,southwest,female,yes
1,19,33.770,1725.55230,1,1,67.54,southeast,male,no
2,29,33.000,4449.46200,3,2,66.00,southeast,male,no
3,34,22.705,21984.47061,0,3,45.41,northwest,male,no
4,33,28.880,3866.85520,0,4,57.76,northwest,male,no
...,...,...,...,...,...,...,...,...,...
1333,51,30.970,10600.54830,3,1333,61.94,northwest,male,no
1334,19,31.920,2205.98080,0,1334,63.84,northeast,female,no
1335,19,36.850,1629.83350,0,1335,73.70,southeast,female,no
1336,22,25.800,2007.94500,0,1336,51.60,southwest,female,no
1337,62,29.070,29141.36030,0,1337,58.14,northwest,female,yes

In [ ]:
df.sort_values(by = ['age'])

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
1248,19,female,39.820,0,no,southeast,1633.96180,79.64,1248
482,19,female,31.350,0,no,southeast,1622.18850,62.70,482
492,19,female,25.080,0,no,northeast,2196.47320,50.16,492
525,19,female,33.880,0,no,southeast,11482.63485,67.76,525
529,19,male,25.460,0,no,northeast,1708.00140,50.92,529
...,...,...,...,...,...,...,...,...,...
398,65,male,25.600,2,no,southwest,14988.43200,51.20,398
335,65,male,34.500,0,no,southwest,13822.80300,69.00,335
378,65,female,30.115,3,no,northwest,16455.70785,60.23,378
1265,65,male,23.760,0,yes,southeast,26926.51440,47.52,1265
635,65,male,38.190,0,no,northeast,14410.93210,76.38,635

In [ ]:
df['age'].mean()

40.20702541106129

In [ ]:
print(df.cov())

                     age           bmi    children       charges  \
age           197.401387      9.362337    0.719303  5.087480e+04
bmi             9.362337     37.187884    0.093795  1.464730e+04
children        0.719303      0.093795    1.453213  9.926742e+02
charges     50874.802298  14647.304426  992.674197  1.466524e+08
double bmi     18.724673     74.375767    0.187590  2.929461e+04
debt         -170.829095    -85.224706   11.747569 -1.578122e+04

              double bmi           debt
age            18.724673    -170.829095
bmi            74.375767     -85.224706
children        0.187590      11.747569
charges     29294.608853  -15781.223645
double bmi    148.751534    -170.449413
debt         -170.449413  149298.500000

In [ ]:
print(df.corr())

                 age       bmi  children   charges  double bmi      debt
age         1.000000  0.109272  0.042469  0.299008    0.109272 -0.031467
bmi         0.109272  1.000000  0.012759  0.198341    1.000000 -0.036169
children    0.042469  0.012759  1.000000  0.067998    0.012759  0.025221
charges     0.299008  0.198341  0.067998  1.000000    0.198341 -0.003373
double bmi  0.109272  1.000000  0.012759  0.198341    1.000000 -0.036169
debt       -0.031467 -0.036169  0.025221 -0.003373   -0.036169  1.000000

In [ ]:
df['sex'].value_counts()

male      676
female    662
Name: sex, dtype: int64

In [ ]:
df[df['children'] == 3]

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
2,29,male,33.000,3,no,southeast,4449.46200,66.00,2
7,38,female,27.740,3,no,northwest,7281.50560,55.48,7
25,60,female,27.720,3,no,southeast,14001.13380,55.44,25
36,63,female,32.965,3,no,northwest,15612.19335,65.93,36
54,41,female,28.690,3,no,northwest,8059.67910,57.38,54
...,...,...,...,...,...,...,...,...,...
1301,63,male,30.875,3,yes,northwest,46718.16325,61.75,1301
1314,31,female,23.655,3,yes,northwest,18765.87545,47.31,1314
1320,32,male,31.065,3,no,northwest,5425.02335,62.13,1320
1332,53,female,44.700,3,no,southwest,11411.68500,89.40,1332
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,1333

In [ ]:
df[df['children'] >= 5]

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
32,20,female,28.600,5,no,southwest,4687.79700,57.20,32
71,32,male,28.500,5,no,northeast,6799.45800,57.00,71
166,21,female,37.000,5,no,southwest,4830.63000,74.00,166
413,26,male,23.900,5,no,southwest,5080.09600,47.80,413
425,46,male,24.310,5,no,southeast,9788.86590,48.62,425
438,53,female,46.750,5,no,southeast,12592.53450,93.50,438
568,50,female,31.900,5,no,southwest,11552.90400,63.80,568
640,34,male,42.400,5,no,southwest,6666.24300,84.80,640
877,34,male,33.440,5,no,southeast,6653.78860,66.88,877
932,47,male,25.800,5,no,southwest,10096.97000,51.60,932
937,40,female,24.225,5,no,northwest,8965.79575,48.45,937
969,40,female,34.320,5,no,southeast,8596.82780,68.64,969
984,21,male,30.115,5,no,northeast,4915.05985,60.23,984
1085,40,female,18.300,5,yes,southwest,19023.26000,36.60,1085
1116,42,male,29.640,5,no,northeast,9222.40260,59.28,1116
1130,40,female,23.870,5,no,southeast,8582.30230,47.74,1130
1245,29,male,24.300,5,no,southwest,5615.36900,48.60,1245
1272,44,male,25.520,5,no,southeast,14478.33015,51.04,1272

In [ ]:
df[df['bmi'] < 17]

,age,sex,bmi,children,smoker,region,charges,double bmi,debt
172,19,male,15.960,0,no,northeast,1694.79640,31.92,172
428,22,female,16.815,1,no,northeast,3167.45585,33.63,428
1226,39,male,16.815,2,no,northeast,6640.54485,33.63,1226

In [ ]:
df.groupby(['sex'])['charges'].mean()

sex
female    12569.578844
male      13956.751178
Name: charges, dtype: float64

In [ ]:
df.groupby(['region'])['charges'].mean()

region
northeast    13406.384516
northwest    12417.575374
southeast    14735.411438
southwest    12346.937377
Name: charges, dtype: float64

In [ ]:
df.groupby(['smoker','region']).mean()

                        age        bmi  children       charges  double bmi  \
smoker region
no     northeast  40.536965  29.332082  1.046693   9165.531672   58.664163
       northwest  40.168539  29.212678  1.119850   8556.463715   58.425356
       southeast  39.673993  33.442418  1.065934   8032.216309   66.884835
       southwest  41.183521  30.507865  1.127341   8019.284513   61.015730
yes    northeast  39.238806  28.565224  1.044776  29673.536473   57.130448
       northwest  40.327586  29.140431  1.275862  30192.003182   58.280862
       southeast  40.736264  33.096703  1.000000  34844.996824   66.193407
       southwest  37.103448  31.005172  1.206897  32269.063494   62.010345

                        debt
smoker region
no     northeast  660.669261
       northwest  679.161049
       southeast  650.109890
       southwest  680.104869
yes    northeast  682.328358
       northwest  699.534483
       southeast  665.714286
       southwest  644.620690

In [ ]:
df.groupby(['smoker','region'])['charges'].mean()

smoker  region
no      northeast     9165.531672
        northwest     8556.463715
        southeast     8032.216309
        southwest     8019.284513
yes     northeast    29673.536473
        northwest    30192.003182
        southeast    34844.996824
        southwest    32269.063494
Name: charges, dtype: float64

In [ ]:
df.groupby(['smoker','region']).size()

smoker  region
no      northeast    257
        northwest    267
        southeast    273
        southwest    267
yes     northeast     67
        northwest     58
        southeast     91
        southwest     58
dtype: int64

In [ ]:
def smot(Data):
    if Data == 'yes':
        result = '흡연자'
    else:
        result = '비흡연자'

    return result

In [ ]:
df['group_val'] = df['smoker'].apply(smot)
df

,age,sex,bmi,children,smoker,region,charges,double bmi,debt,group_val
0,20,female,27.900,0,yes,southwest,16884.92400,55.80,0,흡연자
1,19,male,33.770,1,no,southeast,1725.55230,67.54,1,비흡연자
2,29,male,33.000,3,no,southeast,4449.46200,66.00,2,비흡연자
3,34,male,22.705,0,no,northwest,21984.47061,45.41,3,비흡연자
4,33,male,28.880,0,no,northwest,3866.85520,57.76,4,비흡연자
...,...,...,...,...,...,...,...,...,...,...
1333,51,male,30.970,3,no,northwest,10600.54830,61.94,1333,비흡연자
1334,19,female,31.920,0,no,northeast,2205.98080,63.84,1334,비흡연자
1335,19,female,36.850,0,no,southeast,1629.83350,73.70,1335,비흡연자
1336,22,female,25.800,0,no,southwest,2007.94500,51.60,1336,비흡연자
1337,62,female,29.070,0,yes,northwest,29141.36030,58.14,1337,흡연자