In [ ]:
import numpy as np
def create_lotto_number(count):
    for i in range(count):
        arr = np.arange(46)+1
        lotto_num = np.random.permutation(arr)
        lotto_num = lotto_num[:6]
        print('{}. 로또번호:{}'.format(i+1, np.sort(lotto_num)))
        
count = int(input('로또번호를 몇 개 생성할까요? '))
create_lotto_number(count)

로또번호를 몇 개 생성할까요? 3
1. 로또번호:[ 3  5  6 19 22 30]
2. 로또번호:[ 8 13 24 33 35 40]
3. 로또번호:[11 15 18 25 40 42]

In [ ]:
import pandas as pd

In [ ]:
data = {'학번':range(2000,2010),
       '성적':[85, 95, 75, 70, 100, 100, 95, 85, 80, 85]}
df = pd.DataFrame(data)
df

     학번   성적
0  2000   85
1  2001   95
2  2002   75
3  2003   70
4  2004  100
5  2005  100
6  2006   95
7  2007   85
8  2008   80
9  2009   85

In [ ]:
df = pd.DataFrame(data, columns=['성적','학번'])
df

    성적    학번
0   85  2000
1   95  2001
2   75  2002
3   70  2003
4  100  2004
5  100  2005
6   95  2006
7   85  2007
8   80  2008
9   85  2009

In [ ]:
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h','i', 'j']

df = pd.DataFrame(data, index=index)
df

     학번   성적
a  2000   85
b  2001   95
c  2002   75
d  2003   70
e  2004  100
f  2005  100
g  2006   95
h  2007   85
i  2008   80
j  2009   85

In [ ]:
df.T

       a     b     c     d     e     f     g     h     i     j
학번  2000  2001  2002  2003  2004  2005  2006  2007  2008  2009
성적    85    95    75    70   100   100    95    85    80    85

In [ ]:
data = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv')
data

         사용일자  노선명    역명  승차총승객수    하차총승객수  등록일자
20210201  중앙선   용문  1282    1259  20210204   NaN
20210201  중앙선   지평    48      43  20210204   NaN
20210201  중앙선   아신   415     413  20210204   NaN
20210201  중앙선   양수  1463    1466  20210204   NaN
20210201  중앙선  운길산   495     463  20210204   NaN
...       ...  ...   ...     ...       ...   ...
20210228  중앙선   오빈   216     236  20210303   NaN
20210228  중앙선   양평  3299    3187  20210303   NaN
20210228  중앙선   원덕   322     304  20210303   NaN
20210228  중앙선   용문  1899    1716  20210303   NaN
20210228  중앙선   지평    30      31  20210303   NaN

[16751 rows x 6 columns]

In [ ]:
df = pd.read_csv('CARD_SUBWAY_MONTH_202102.csv', index_col= False)
df

           사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
0      20210201  중앙선   용문    1282    1259  20210204
1      20210201  중앙선   지평      48      43  20210204
2      20210201  중앙선   아신     415     413  20210204
3      20210201  중앙선   양수    1463    1466  20210204
4      20210201  중앙선  운길산     495     463  20210204
...         ...  ...  ...     ...     ...       ...
16746  20210228  중앙선   오빈     216     236  20210303
16747  20210228  중앙선   양평    3299    3187  20210303
16748  20210228  중앙선   원덕     322     304  20210303
16749  20210228  중앙선   용문    1899    1716  20210303
16750  20210228  중앙선   지평      30      31  20210303

[16751 rows x 6 columns]

In [ ]:
df.describe()

               사용일자        승차총승객수        하차총승객수          등록일자
count  1.675100e+04  16751.000000  16751.000000  1.675100e+04
mean   2.021021e+07   8567.344696   8536.474419  2.021023e+07
std    8.083073e+00   9006.651687   9064.054078  2.749315e+01
min    2.021020e+07      1.000000      0.000000  2.021020e+07
25%    2.021021e+07   2652.500000   2594.500000  2.021021e+07
50%    2.021022e+07   5857.000000   5733.000000  2.021022e+07
75%    2.021022e+07  11257.000000  11117.000000  2.021022e+07
max    2.021023e+07  88904.000000  87891.000000  2.021030e+07

In [ ]:
df['역명'].unique()

array(['용문', '지평', '아신', '양수', '운길산', '팔당', '도심', '덕소', '양정', '도농', '구리',
       '양원', '망우', '상봉(시외버스터미널)', '중랑', '회기', '신창(순천향대)', '온양온천', '배방',
       '아산', '쌍용(나사렛대)', '봉명', '대화', '주엽', '정발산', '마두', '백석', '대곡', '화정',
       '원당', '삼송', '원흥', '신설동', '보문', '성신여대입구(돈암)', '정릉', '북한산보국문', '솔샘',
       '삼양사거리', '삼양', '화계', '가오리', '4.19민주묘지', '솔밭공원', '북한산우이', '수리산',
       '오이도', '정왕', '신길온천', '안산', '초지', '고잔', '중앙', '한대앞', '상록수', '반월',
       '대야미', '산본', '인천', '신포', '숭의', '인하대', '송도', '연수', '원인재', '남동인더스파크',
       '호구포', '인천논현', '소래포구', '월곶', '달월', '사리', '야목', '어천', '오목천', '고색',
       '매교', '수원시청', '매탄권선', '망포', '영통', '청명', '상갈', '기흥', '신갈', '구성',
       '죽전', '보정', '이매', '오리', '미금', '정자', '수내', '서현', '야탑', '모란', '태평',
       '가천대', '선정릉', '강남구청', '압구정로데오', '서울숲', '수원', '수서', '대모산입구', '개포동',
       '구룡', '도곡', '한티', '선릉', '범계', '평촌', '인덕원', '정부과천청사', '과천', '대공원',
       '경마공원', '선바위', '영종', '인천공항2터미널', '인천공항1터미널', '공항화물청사', '운서',
       '청라국제도시', '검암', '계양', '김포공항', '마곡나루(서울식물원)', '디지털미디어시티', '홍대입구',
       '공덕', '서울역', '춘천', '남춘천', '김유정', '강촌', '백양리', '굴봉산', '가평', '상천',
       '청평', '대성리', '마석', '천마산', '평내호평', '금곡', '사릉', '퇴계원', '별내', '갈매',
       '신내', '도화', '중동', '온수(성공회대입구)', '도원', '간석', '부개', '소사', '구일',
       '동인천', '제물포', '주안', '동암', '백운', '부평', '송내', '부천', '역곡', '오류동',
       '개봉', '임진강', '문산', '파주', '월롱', '금촌', '금릉', '운정', '야당', '탄현', '일산',
       '풍산', '백마', '곡산', '능곡', '행신', '강매', '화전', '수색', '가좌', '서강대',
       '효창공원앞', '신촌', '소요산', '동두천', '보산', '동두천중앙', '지행', '덕정', '덕계', '양주',
       '녹양', '가능', '의정부', '회룡', '망월사', '도봉산', '방학', '녹천', '월계', '광운대',
       '석계', '신이문', '외대앞', '청량리(서울시립대입구)', '왕십리(성동구청)', '응봉', '옥수', '한남',
       '서빙고', '이촌(국립중앙박물관)', '광명', '서동탄', '당정', '천안', '두정', '직산', '성환',
       '평택', '지제', '서정리', '송탄', '진위', '오산', '오산대', '세마', '병점', '세류', '독산',
       '화서', '성균관대', '의왕', '군포', '금정', '명학', '안양', '관악', '석수', '금천구청',
       '가산디지털단지', '구로', '신길', '신도림', '영등포', '대방', '노량진', '용산', '남영', '여주',
       '세종대왕릉', '부발', '이천', '신둔도예촌', '곤지암', '초월', '경기광주', '삼동', '판교',
       '중앙보훈병원', '둔촌오륜', '올림픽공원(한국체대)', '한성백제', '송파나루', '석촌', '석촌고분',
       '삼전', '종합운동장', '봉은사', '삼성중앙', '언주', '신논현', '사평', '고속터미널', '신반포',
       '구반포', '동작(현충원)', '흑석(중앙대입구)', '노들', '샛강', '여의도', '국회의사당', '당산',
       '선유도', '신목동', '염창', '등촌', '증미', '가양', '양천향교', '신방화', '공항시장', '개화',
       '수진', '신흥', '단대오거리', '남한산성입구(성남법원.검찰청)', '복정', '장지', '문정', '가락시장',
       '송파', '잠실(송파구청)', '몽촌토성(평화의문)', '강동구청', '천호(풍납토성)', '암사', '부평구청',
       '굴포천', '삼산체육관', '상동', '부천시청', '신중동', '춘의', '부천종합운동장', '까치울', '천왕',
       '광명사거리', '철산', '남구로', '대림(구로구청)', '신풍', '보라매', '신대방삼거리', '장승배기',
       '상도', '숭실대입구(살피재)', '남성', '이수', '내방', '반포', '논현', '학동', '청담',
       '뚝섬유원지', '건대입구', '어린이대공원(세종대)', '군자(능동)', '중곡', '용마산(용마폭포공원)',
       '사가정', '면목', '중화', '먹골', '태릉입구', '공릉(서울과학기술대)', '하계', '중계', '노원',
       '마들', '수락산', '장암', '봉화산(서울의료원)', '화랑대(서울여대입구)', '돌곶이',
       '상월곡(한국과학기술연구원)', '월곡(동덕여대)', '고려대(종암)', '안암(고대병원앞)', '창신', '동묘앞',
       '신당', '청구', '약수', '버티고개', '한강진', '이태원', '녹사평(용산구청)', '삼각지',
       '대흥(서강대앞)', '광흥창(서강)', '상수', '합정', '망원', '마포구청', '월드컵경기장(성산)',
       '증산(명지대앞)', '새절(신사)', '구산', '연신내', '독바위', '불광', '역촌', '응암', '하남풍산',
       '미사', '마천', '거여', '개롱', '오금', '방이', '둔촌동', '상일동', '고덕', '명일',
       '굽은다리(강동구민회관앞)', '길동', '강동', '광나루(장신대)', '아차산(어린이대공원후문)', '장한평',
       '답십리', '마장', '행당', '신금호', '동대문역사문화공원(DDP)', '을지로4가', '종로3가',
       '광화문(세종문화회관)', '서대문', '충정로(경기대입구)', '애오개', '마포', '여의나루', '영등포시장',
       '영등포구청', '양평', '오목교(목동운동장앞)', '목동', '신정(은행정)', '까치산', '화곡', '우장산',
       '발산', '마곡', '송정', '개화산', '방화', '쌍문', '창동', '상계', '당고개', '남태령',
       '사당', '총신대입구(이수)', '신용산', '숙대입구(갈월)', '회현(남대문시장)', '명동', '충무로',
       '동대문', '혜화', '한성대입구(삼선교)', '길음', '미아사거리', '미아(서울사이버대학)',
       '수유(강북구청)', '경찰병원', '일원', '대청', '학여울', '대치', '매봉', '양재(서초구청)',
       '남부터미널(예술의전당)', '교대(법원.검찰청)', '잠원', '신사', '압구정', '금호', '동대입구',
       '을지로3가', '안국', '경복궁(정부서울청사)', '독립문', '무악재', '홍제', '녹번', '구파발',
       '지축', '용두(동대문구청)', '신정네거리', '양천구청', '도림천', '신답', '용답', '아현', '이대',
       '문래', '구로디지털단지', '신대방', '신림', '봉천', '서울대입구(관악구청)', '낙성대(강감찬)',
       '방배', '서초', '강남', '역삼', '삼성(무역센터)', '잠실새내', '잠실나루', '강변(동서울터미널)',
       '구의(광진구청)', '성수', '뚝섬', '한양대', '상왕십리', '을지로입구', '시청', '제기동',
       '종로5가', '종각', '오빈', '국수', '도봉', '신원', '산성', '원덕'], dtype=object)

In [ ]:
df['역명'].value_counts()

서울역      142
공덕       113
홍대입구      85
김포공항      85
고속터미널     84
        ...
탄현        28
야당        28
운정        28
금릉        28
원덕        28
Name: 역명, Length: 517, dtype: int64

In [ ]:
df.sort_values(by=['등록일자'])

           사용일자  노선명              역명  승차총승객수  하차총승객수      등록일자
0      20210201  중앙선              용문    1282    1259  20210204
396    20210201  6호선            버티고개    2065    2020  20210204
397    20210201  6호선             한강진    5900    6709  20210204
398    20210201  6호선             이태원    7505    7382  20210204
399    20210201  6호선       녹사평(용산구청)    3858    3690  20210204
...         ...  ...             ...     ...     ...       ...
16352  20210228  6호선              보문    3652    3360  20210303
16353  20210228  6호선       안암(고대병원앞)    4974    5188  20210303
16354  20210228  6호선         고려대(종암)    3999    3805  20210303
16356  20210228  6호선  상월곡(한국과학기술연구원)    2984    2719  20210303
16750  20210228  중앙선              지평      30      31  20210303

[16751 rows x 6 columns]

In [ ]:
df.sort_values(by=['등록일자'],ascending=False)

           사용일자  노선명         역명  승차총승객수  하차총승객수      등록일자
16750  20210228  중앙선         지평      30      31  20210303
16357  20210228  6호선        돌곶이    4333    4028  20210303
16355  20210228  6호선   월곡(동덕여대)    4992    4907  20210303
16354  20210228  6호선    고려대(종암)    3999    3805  20210303
16353  20210228  6호선  안암(고대병원앞)    4974    5188  20210303
...         ...  ...        ...     ...     ...       ...
400    20210201  6호선        삼각지    4785    4344  20210204
399    20210201  6호선  녹사평(용산구청)    3858    3690  20210204
398    20210201  6호선        이태원    7505    7382  20210204
397    20210201  6호선        한강진    5900    6709  20210204
0      20210201  중앙선         용문    1282    1259  20210204

[16751 rows x 6 columns]

In [ ]:
df.sort_index(ascending=False)

           사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
16750  20210228  중앙선   지평      30      31  20210303
16749  20210228  중앙선   용문    1899    1716  20210303
16748  20210228  중앙선   원덕     322     304  20210303
16747  20210228  중앙선   양평    3299    3187  20210303
16746  20210228  중앙선   오빈     216     236  20210303
...         ...  ...  ...     ...     ...       ...
4      20210201  중앙선  운길산     495     463  20210204
3      20210201  중앙선   양수    1463    1466  20210204
2      20210201  중앙선   아신     415     413  20210204
1      20210201  중앙선   지평      48      43  20210204
0      20210201  중앙선   용문    1282    1259  20210204

[16751 rows x 6 columns]

In [ ]:
df['역명']

0         용문
1         지평
2         아신
3         양수
4        운길산
        ...
16746     오빈
16747     양평
16748     원덕
16749     용문
16750     지평
Name: 역명, Length: 16751, dtype: object

In [ ]:
df.iloc[1]

사용일자      20210201
노선명            중앙선
역명              지평
승차총승객수          48
하차총승객수          43
등록일자      20210204
Name: 1, dtype: object

In [ ]:
df2 = df.set_index('사용일자')
df2.head(3)

          노선명  역명  승차총승객수  하차총승객수      등록일자
사용일자
20210201  중앙선  용문    1282    1259  20210204
20210201  중앙선  지평      48      43  20210204
20210201  중앙선  아신     415     413  20210204

In [ ]:
df[df['역명'] == '강남']

           사용일자  노선명  역명  승차총승객수  하차총승객수      등록일자
560    20210201  2호선  강남   77926   76056  20210204
1167   20210202  2호선  강남   78830   76529  20210205
1232   20210203  2호선  강남   81042   76247  20210206
1925   20210204  2호선  강남   78517   77550  20210207
2989   20210205  2호선  강남   82975   81476  20210208
3016   20210206  2호선  강남   50933   50582  20210209
4157   20210207  2호선  강남   27923   26788  20210210
4223   20210208  2호선  강남   82308   79973  20210211
5310   20210209  2호선  강남   83006   81087  20210212
5474   20210210  2호선  강남   78325   76577  20210213
6002   20210211  2호선  강남   25421   24961  20210214
6609   20210212  2호선  강남   12443   12309  20210215
7260   20210213  2호선  강남   25420   25063  20210216
8288   20210214  2호선  강남   24652   24027  20210217
8675   20210215  2호선  강남   79541   77401  20210218
9266   20210216  2호선  강남   83284   81590  20210219
9638   20210217  2호선  강남   82823   80269  20210220
10681  20210218  2호선  강남   81898   79435  20210221
10857  20210219  2호선  강남   86800   80948  20210222
11374  20210220  2호선  강남   56460   53046  20210223
12499  20210221  2호선  강남   32075   31031  20210224
12585  20210222  2호선  강남   83602   81970  20210225
13705  20210223  2호선  강남   84922   83364  20210226
14314  20210224  2호선  강남   84628   82667  20210227
14384  20210225  2호선  강남   84374   82960  20210228
14984  20210226  2호선  강남   88904   87891  20210301
15585  20210227  2호선  강남   57464   57150  20210302
16183  20210228  2호선  강남   34214   33161  20210303

In [ ]:
df[df['하차총승객수'] >= 50000 ]

           사용일자  노선명        역명  승차총승객수  하차총승객수      등록일자
550    20210201  2호선   구로디지털단지   57932   58583  20210204
552    20210201  2호선        신림   57124   56022  20210204
560    20210201  2호선        강남   77926   76056  20210204
561    20210201  2호선        역삼   48218   52171  20210204
566    20210201  2호선  잠실(송파구청)   56357   56358  20210204
...         ...  ...       ...     ...     ...       ...
14994  20210226  2호선   구로디지털단지   61720   61649  20210301
15001  20210226  2호선      홍대입구   54628   58375  20210301
15579  20210227  2호선  잠실(송파구청)   56574   53383  20210302
15585  20210227  2호선        강남   57464   57150  20210302
15602  20210227  2호선      홍대입구   56129   60023  20210302

[109 rows x 6 columns]

In [ ]:
df2['승차총승객수'].max()

88904

In [ ]:
df.drop(0)

           사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자
1      20210201  중앙선   지평      48      43  20210204
2      20210201  중앙선   아신     415     413  20210204
3      20210201  중앙선   양수    1463    1466  20210204
4      20210201  중앙선  운길산     495     463  20210204
5      20210201  중앙선   팔당     687     662  20210204
...         ...  ...  ...     ...     ...       ...
16746  20210228  중앙선   오빈     216     236  20210303
16747  20210228  중앙선   양평    3299    3187  20210303
16748  20210228  중앙선   원덕     322     304  20210303
16749  20210228  중앙선   용문    1899    1716  20210303
16750  20210228  중앙선   지평      30      31  20210303

[16750 rows x 6 columns]

In [ ]:
df.drop(['등록일자'], axis=1)

           사용일자  노선명   역명  승차총승객수  하차총승객수
0      20210201  중앙선   용문    1282    1259
1      20210201  중앙선   지평      48      43
2      20210201  중앙선   아신     415     413
3      20210201  중앙선   양수    1463    1466
4      20210201  중앙선  운길산     495     463
...         ...  ...  ...     ...     ...
16746  20210228  중앙선   오빈     216     236
16747  20210228  중앙선   양평    3299    3187
16748  20210228  중앙선   원덕     322     304
16749  20210228  중앙선   용문    1899    1716
16750  20210228  중앙선   지평      30      31

[16751 rows x 5 columns]

In [ ]:
df['승차총승객수']+2

0        1284
1          50
2         417
3        1465
4         497
         ...
16746     218
16747    3301
16748     324
16749    1901
16750      32
Name: 승차총승객수, Length: 16751, dtype: int64

In [ ]:
df['승하차총승객수차이'] = df['승차총승객수'] - df['하차총승객수']
df.head()

       사용일자  노선명   역명  승차총승객수  하차총승객수      등록일자  승하차총승객수차이
0  20210201  중앙선   용문    1282    1259  20210204         23
1  20210201  중앙선   지평      48      43  20210204          5
2  20210201  중앙선   아신     415     413  20210204          2
3  20210201  중앙선   양수    1463    1466  20210204         -3
4  20210201  중앙선  운길산     495     463  20210204         32

In [ ]:
df['승하차총승객수차이'].mean()

30.870276401408873

In [ ]:
sample_df = df.sample(n=10)
sample_df

           사용일자       노선명   역명  승차총승객수  하차총승객수      등록일자  승하차총승객수차이
2188   20210204       9호선   샛강    5735    6237  20210207       -502
15484  20210226       수인선   연수    4277    4290  20210301        -13
15428  20210226  공항철도 1호선   영종    2871    3069  20210301       -198
3901   20210207       9호선  선유도    2156    2083  20210210         73
471    20210201       5호선   방화    6231    6015  20210204        216
2224   20210204       경부선   용산   27483   28146  20210207       -663
9839   20210217       7호선   논현   19776   21383  20210220      -1607
8104   20210214       7호선   하계    6882    6650  20210217        232
1062   20210202       5호선  여의도   26865   27170  20210205       -305
432    20210201       5호선   길동    7460    7732  20210204       -272

In [ ]:
df2['승차총승객수'].max()

88904

In [ ]:
df2['승차총승객수'].argmax()

14984

KeyError: 0